{
  "branches": [
    "main",
    {
      "name": "staging",
      "channel": false,
      "prerelease": "RC"
    },
    {
      "name": "dev",
      "channel": false,
      "prerelease": false
    }
  ],
  "plugins": [
    "@semantic-release/changelog",
    "@semantic-release/git",
    "@semantic-release/npm",
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/github",
    [
      "semantic-release-slack-bot",
      {
        "notifyOnSuccess": true,
        "notifyOnFail": true,
        "slackName": "Semver (Middleware)",
        "slackChannel": "#chatops",
        "branchesConfig": [
          {
            "pattern": "main",
            "notifyOnSuccess": true,
            "notifyOnFail": true
          },
          {
            "pattern": "prod",
            "notifyOnSuccess": true,
            "notifyOnFail": true
          },
          {
            "pattern": "dev",
            "notifyOnSuccess": true,
            "notifyOnFail": true
          }
        ]
      }
    ]
  ]
}
